appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
Automat==20.2.0
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1651441521070/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854175163/work
certifi @ file:///croot/certifi_1665076670883/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
constantly==15.1.0
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1636040645081/work
cssselect==1.1.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648562408398/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1621907170877/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1659518105741/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1661796597649/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
lxml @ file:///opt/conda/conda-bld/lxml_1657545139709/work
Markdown @ file:///tmp/build/80754af9/markdown_1614363528767/work
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyDispatcher==2.0.5
PyHamcrest @ file:///home/conda/feedstock_root/build_artifacts/pyhamcrest_1639391367583/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
Scrapy @ file:///tmp/abs_e3bmwi01y8/croots/recipe/scrapy_1659598696235/work
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1657323845005/work
Twisted @ file:///tmp/abs_82802zpkox/croots/recipe/twisted_1659592759417/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
zipp @ file:///opt/conda/conda-bld/zipp_1652341764480/work
zope.interface @ file:///home/conda/feedstock_root/build_artifacts/zope.interface_1649175686088/work
